html {
	height:100%;
}
body {
  padding-top: 0px;
  padding-bottom: 40px;
  background:url('../img/bg_2.jpg');
  background-position: bottom center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
.form-signin {
  max-width: 330px;
  padding: 0 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: 0px;
}
.form-signin input[type="email"] {
  margin-bottom: 0px;
}
.form-signin input[id="ConfirmPassword"] {
  margin-bottom: 10px;
}
.color-white {
	color: #FFFFFF;
}
label {
	color: #FFF;
}
a:hover {
	text-decoration:none;
}
.has-error.form-control {
    border: 1px solid #ff0000;
    /*-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)*/
}
.has-error.form-control:focus {
    border:1px solid  #ff0000;
    /*-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483*/
}
.error {
    display: none !important;
}